html {
    height:100%;
    overflow:hidden;
    scroll-behavior: smooth;
    display: flex;
    font-family: 'Secular One', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'VT323', monospace;
}
body {
      color: #fff;
      margin: 0;
      padding: 0;
      perspective: 1px;
      transform-style: preserve-3d;
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      background:rgb(0, 0, 0);
      text-align: center;
/*       font-style: unset;
      font-family: sans-serif; */
      display: flex;
      flex-direction: column;
      
  }
  .intro, .intro2, .intro3 {
      box-sizing: border-box;
      min-height: 100vh;
      padding: 20vw 0 5vw;
      position: relative;
      transform-style: inherit;
      width: 100vw;
  }
  /* adicionar aquela fonte com shadow que usei no protótipo de estrelas */
  
  .intro .intro2 .intro3 h1 {
      margin-top: -100px;
  }
  .intro, .intro:before, .intro2, .intro2:before, .intro3, .intro3:before {
      background: 50% 50% / cover;
  }
  
  .intro:before {
      position: absolute;
      bottom: 0;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      display: block;
      background-image: url(images/OTA.gif);
      background-size: cover;
      transform-origin: center center 0;
      transform:  translateZ(-1px) scale(2);
      z-index: -1;
      height: 100vh
  }

  .intro2:before {
    position: absolute;
    bottom: 0;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    display: block;
    background-image: url(images/fundo.gif);
    background-size: cover;
    transform-origin: center center 0;
    transform:  translateZ(-1px) scale(2);
    z-index: -1;
    height: 100vh
}

.intro3:before {
    position: absolute;
    bottom: 0;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    display: block;
    background-image: url(images/matrix.webp);;
    background-size: cover;
    transform-origin: center center 0;
    transform:  translateZ(-1px) scale(2);
    z-index: -1;
    height: 100vh
}
  
  .container {
    margin: 200px auto;

    width: 100%;
    position: relative;
    z-index: 1;
    background: rgb(0, 0, 0);
    padding: 30px 0 180px;
  }
  .content {
    max-width:800px;
    margin:0 auto
  }

  h1 {
      font-size: 50px;
      
      color: white;
      text-shadow: 2px gray;
/*       background-color:white; */
/*     width: 30%;
    height: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-self: center;
      /* font-weight: bolder; */ */
  }
h2 {
    font-size: 40px;
    letter-spacing: 1px;
}
  p {
      font-size: 25px;
      color: white;
      /* font-weight: bold; */
  }

.label {
    margin-top: 30px;
    display: inline-block;
    font-size: 20px;
}

.progress-label {
    /* display: inline-block; */
    text-align: right;
    right: 0;
    font-size: 25px;
}

.progress {
    border: 0;
    width: 100%;
    height: 15px;
}

progress::-webkit-progress-value {
    background: #e415f9;
    border-radius: 10px;
}
  
progress::-webkit-progress-bar {
    background: #000000;
    border-radius: 10px;
}

.text {
    font-weight: lighter;
}

.menu {
    background-color: transparent;
    height: 0;
    width: 100%;
    position: relative;
    z-index: 1;
}

ul {
    color: transparent;
    display: flex;
    justify-content: space-around;
}

li {
    margin: 1%;
    font-weight: bold;
}

a {
    color: white;
    width: 1%;
    height: 20%;
    font-size: 20px;
    cursor: pointer;
}

.botaoo {
    color: white;
    border-radius: 28px;
    font-weight: bold;
    font-size: 35px;
    position: absolute;
    z-index: 1;
    width: 20%;
    height: 5%;
    background-color: black;
    top: 100%;
    left: 41%;
    padding-top: 15px;
    padding-bottom: 10px;
    border: 6px #e415f9 inset;
}

.botaoo:hover, .botao:hover {
    filter: invert();
}

.botao {
    color: #ffffff;
    border-radius: 28px;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    z-index: 1;
    width: 20%;
    height: 3%;
    background-color: #000000;
    padding-top: 13px;
    padding-bottom: 15px;
    left: 39%;
    top: 86%;
    border: 6px #e415f9 outset;
}

.centralizar {
    padding: 0 20%;
}

.container2 {
    margin: 200px auto;
    width: 90%;
    position: relative;
    z-index: 1;
    background: rgb(0, 0, 0);
/*     padding: 20px 0 180px; */
    padding: 200px 0;
  }

  .container3 {
    margin: 200px auto;
    width: 100%;
    position: relative;
    z-index: 1;
    background: rgb(0, 0, 0);
    padding: 200px 0;
    /* padding: 20px 0 180px; */
  }

  .quantasvezes {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 25px;
      padding-top: 7%;
  }

.portfolio {
    justify-content: center;

}

.light-div {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding: 5%;
    display: block;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


.item-portfolio {
    height: auto;
    width: 42%;
    align-items: center;
    mix-blend-mode: normal;
    max-width: 786px;
    border: 1px #ffffff solid;
    object-fit: cover;
}